<template>
  <div class="main-page">
    <a href="#first"> 1111111111111</a><br>
    <a href="#second">22222222222222</a><br>
    <a href="#third">333333333333333</a>
      <div>
         <div class="first-block" id="first">
           <div>FIRST BLOCK</div>
           <div>FIRST BLOCK</div>
           <div>FIRST BLOCK</div>
           <div>FIRST BLOCK</div>
           <div>FIRST BLOCK</div>
           <div>FIRST BLOCK</div>
           <div>FIRST BLOCK</div>
           <div>FIRST BLOCK</div>
           <div>FIRST BLOCK</div>
           <div>FIRST BLOCK</div>
           <div>FIRST BLOCK</div>
           <div>FIRST BLOCK</div>
           <div>FIRST BLOCK</div>
           <div>FIRST BLOCK</div>
           <div>FIRST BLOCK</div>
           <div>FIRST BLOCK</div>
           <div>FIRST BLOCK</div>
           <div>FIRST BLOCK</div>
           <div>FIRST BLOCK</div>
           <div>FIRST BLOCK</div>
           <div>FIRST BLOCK</div>
           <div>FIRST BLOCK</div>
           <div>FIRST BLOCK</div>
           <div>FIRST BLOCK</div>
           <div>FIRST BLOCK</div>
           <div>FIRST BLOCK</div>
           <div>FIRST BLOCK</div>
           <div>FIRST BLOCK</div>
           <div>FIRST BLOCK</div>
           <div>FIRST BLOCK</div>
           <div>FIRST BLOCK</div>
           <div>FIRST BLOCK</div>
           <div>FIRST BLOCK</div>
           <div>FIRST BLOCK</div>
           <div>FIRST BLOCK</div>
           <div>FIRST BLOCK</div>
           <div>FIRST BLOCK</div>
           <div>FIRST BLOCK</div>
           <div>FIRST BLOCK</div>
           <div>FIRST BLOCK</div>
           <div>FIRST BLOCK</div>
           <div>FIRST BLOCK</div>
           <div>FIRST BLOCK</div>
           <div>FIRST BLOCK</div>
           <div>FIRST BLOCK</div>
           <div>FIRST BLOCK</div>
           <div>FIRST BLOCK</div>
           <div>FIRST BLOCK</div>
           <div>FIRST BLOCK</div>
           <div>FIRST BLOCK</div>
           <div>FIRST BLOCK</div>
           <div>FIRST BLOCK</div>
           <div>FIRST BLOCK</div>
           <div>FIRST BLOCK</div>
           <div>FIRST BLOCK</div>
           <div>FIRST BLOCK</div>
           <div>FIRST BLOCK</div>
           <div>FIRST BLOCK</div>
           <div>FIRST BLOCK</div>
           <div>FIRST BLOCK</div>
           <div>FIRST BLOCK</div>
           <div>FIRST BLOCK</div>
         </div>
        <br><br>
        <div class="second-block" id="second">
          <div>second block</div>
          <div>second block</div>
          <div>second block</div>
          <div>second block</div>
          <div>second block</div>
          <div>second block</div>
          <div>second block</div>
          <div>second block</div>
          <div>second block</div>
          <div>second block</div>
          <div>second block</div>
          <div>second block</div>
          <div>second block</div>
          <div>second block</div>
          <div>second block</div>
          <div>second block</div>
          <div>second block</div>
          <div>second block</div>
          <div>second block</div>
          <div>second block</div>
          <div>second block</div>
          <div>second block</div>
          <div>second block</div>
          <div>second block</div>
          <div>second block</div>
          <div>second block</div>
          <div>second block</div>
          <div>second block</div>
          <div>second block</div>
          <div>second block</div>
          <div>second block</div>
          <div>second block</div>
          <div>second block</div>
          <div>second block</div>
          <div>second block</div>
          <div>second block</div>
          <div>second block</div>
          <div>second block</div>
          <div>second block</div>
          <div>second block</div>
        </div>
        <br><br>
        <transition name="test">
          <div class="third-block" id="third">
            <div>third bllock</div>
            <div>third bllock</div>
            <div>third bllock</div>
            <div>third bllock</div>
            <div>third bllock</div>
            <div>third bllock</div>
            <div>third bllock</div>
            <div>third bllock</div>
            <div>third bllock</div>
            <div>third bllock</div>
            <div>third bllock</div>
            <div>third bllock</div>
            <div>third bllock</div>
            <div>third bllock</div>
            <div>third bllock</div>
          </div>
        </transition>
      </div>
<!--    <router-view></router-view>-->
  </div>
</template>

<script>
export default {
  name: "main-page",
  methods:{
      reloadPage(){
       // window.location.reload()
        //this.$router.go(0)
         let name = 'Petros'
        return function(){
           console.log(name)
        }
      }
  },
  created() {
  }
}
</script>

<style lang="sass">
html
  scroll-behavior: smooth
.first-block
  background: red
.second-block
  background: blue
.third-block
  background: green
.test-enter
  opacity: 0
.test-enter-to
  opacity: 1
</style>
